.App {
  text-align: center;
  background-color: #282c34;
}

.App-header {
  background-color: #282c34;
  font-size: 48px;
  font-weight: 900;
  line-height: 1.2;
  color: #303030;
  letter-spacing: -1px;
  color: white;
}

body {
  margin: 0;
  font-family: 'Chivo', 'Helvetica Neue', Helvetica, Arial, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #282c34;
}
