body {
  animation: fadeIn .75s;
  margin: 0;
  font-family: Arial Black, Helvetica, Arial, sans-serif;
  background-color: #000000;
  color: rgb(220, 220, 220);
  text-align: center;
}

header {
  font-size: 54px;
  font-weight: 900;
  line-height: 0;
  letter-spacing: -1px;
}

h2 {
  font-size: 34.75px;
  font-weight: 500;
  color: #555555;
}

h3 {
  font-size: 26.5px;
  font-weight: 500;
  color: #555555;
}

hr {
  width: 565px;
  height: 1.2px;
  margin-left: auto;
  margin-right: auto;
  background-color: #555555;
}

.image-grid {
  --gap: 32px;
  --num-cols: 5;
  --row-height: 80px;

  box-sizing: border-box;
  padding: 36px;
  margin-left: 160px;
  margin-right: 160px;
  display: grid;
  grid-template-columns: repeat(var(--num-cols), 1fr);
  grid-auto-rows: var(--row-height);
  gap: var(--gap);
}

.image-grid > a > img {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
  transition: 200ms transform ease-in-out;
}

.image-grid > a > img:hover {
  transform: scale(1.1);
}

.image-reverse {
  filter: invert(1) hue-rotate(180deg);
}

.image-reverse-gray {
  filter: invert(1) hue-rotate(180deg) grayscale();;
}

.image-rick {
  filter: brightness(1.75);
}

.image-orbit {
  filter: invert(1) hue-rotate(180deg);
}

.message {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.618rem;
  font-weight: bold;
}

.container {
  font-family: Helvetica, Arial, sans-serif;
  margin-top: 2.25rem;
  margin-bottom: 3rem;
  margin-left: 9rem;
  margin-right: 9rem;
  display: grid;
  gap: 2rem;
  align-items: center;
}

.card {
  max-width: 84%;
  margin-left: auto;
  margin-right: auto;
  padding: 1.75rem;
  text-align: left;
  background-color: #222222;
  border-radius: .25rem;
}

.card-image {
  overflow: hidden;
}

.card-image > img {
  display: block;
  float: right;
  width: 100%;
  object-fit: cover;
  margin-bottom: 1.5rem;
}

.card-title {
  font-size: 1.618rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.card-details {
  font-size: 1rem;
  margin-bottom: .75rem;
}

button {
  width: 20%;
  font-family: inherit;
  font-size: 1.125rem;
  padding: 1.25rem 1.5rem;
  border: none;
  color: #111;
  background-color: rgb(220, 220, 220);;
  margin-top: .75rem;
}

.button:hover, .button:focus {
  background: #ababab;
  cursor: pointer;
}

.footer {
  font-family: Helvetica, Arial, sans-serif;
  margin-bottom: 3rem;
}

.footer-detail {
  font-size: 1.1rem;
  line-height: 1.75;
}

a {
  text-decoration: none;
  color: rgb(185, 0, 0);
}

@media only screen and (max-width: 900px) {
  header {
    font-size: 29.1px;
  }
  h2 {
    font-size: 19px;
  }
  h3 {
    font-size: 14.75px;
  }
  hr {
    width: 300px;
  }
  .image-grid {
    --gap: 20px;
    --num-cols: 2;
    --row-height: 60px;
    margin-left: 12px;
    margin-right: 12px;
  }
  .message {
    font-size: 1.125rem;
  }
  .container {
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
  }
  .card {
    padding: 1.25rem;
  }
  .card-title {
    font-size: 1.125rem;
  }
  button {
    border: 1.5px solid #303030;;
    width: 40%;
    font-family: inherit;
    font-size: 1;
    padding: .875rem 1rem;
    color: #303030;
  }
  .footer {
    margin-bottom: 2rem;
  }
  .footer-detail {
    font-size: 1rem;
  }
}
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
  button {
    border: 1.5px solid #303030;;
    width: 40%;
    font-family: inherit;
    padding: .5rem 1.2rem;
    color: #303030;
  }
}
