input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  }

body {
  margin: 0;
  font-family: 'Chivo', 'Helvetica Neue', Helvetica, Arial, serif;
  background-color: white;
  color: #303030;
  text-align: center;
}

header {
  font-size: 68px;
  font-weight: 900;
  line-height: 0;
  letter-spacing: -1px;
}

h2 {
  font-size: 33px;
  font-weight: 500;
}

h3 {
  font-size: 25.25px;
  font-weight: 500;
}

hr {
  width: 470px;
  height: 1.2px;
  margin-left: auto;
  margin-right: auto;
  background-color: #303030;
}

.image-grid {
  --gap: 32px;
  --num-cols: 5;
  --row-height: 75px;

  box-sizing: border-box;
  padding: 36px;
  margin-left: 150px;
  margin-right: 150px;
  display: grid;
  grid-template-columns: repeat(var(--num-cols), 1fr);
  grid-auto-rows: var(--row-height);
  gap: var(--gap);
}

.image-grid > a > img {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
  transition: 200ms transform ease-in-out;
}

.image-grid > a > img:hover {
  transform: scale(1.1);
}

.container {
  margin-bottom: 3rem;
  margin-left: 9rem;
  margin-right: 9rem;
  display: grid;
  gap: 2rem;
  align-items: center;
  animation: fadeIn .5s;
}

.card {
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
  padding: 1.75rem;
  text-align: left;
  background: white;
  border-radius: .25rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 2);
}

.card-image {
  overflow: hidden;
}

.card-image > img {
  display: block;
  float: right;
  width: 100%;
  object-fit: cover;
  transition: 200ms transform ease-in-out;
  margin-bottom: 1rem;
}

.card:hover > .card-image > img {
  transform: scale(1.05);
}

.card-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.card-details {
  font-size: 1.1rem;
  margin-bottom: .5rem;
}

button {
  width: 20%;
  font-family: inherit;
  padding: .5rem 1.5rem;
  background-color: white;
  margin-top: .75rem;
}

.button:hover, .button:focus {
  background: #ddd;
  color: #111;
  cursor: pointer;
}

.footer {
  margin-bottom: 3rem;
}

.footer-detail {
  font-size: 1.2rem;
  line-height: 1.75;
}

a {
  text-decoration: none;
  color: maroon;
}

@media only screen and (max-width: 900px) {
  header {
    font-size: 42px;
  }
  h2 {
    font-size: 21px;
  }
  h3 {
    font-size: 16px;
  }
  hr {
    width: 285px;
  }
  .image-grid {
    --gap: 20px;
    --num-cols: 3;
    --row-height: 50px;
    margin-left: 15px;
    margin-right: 15px;
  }
  .container {
    margin-left: 3rem;
    margin-right: 3rem;
  }
  .card {
    padding: 1.25rem;
  }
  .card-title {
    font-size: 1.2rem;
  }
  button {
    width: 40%;
    font-family: inherit;
    padding: .5rem 1.5rem;
  }
  .footer-detail {
    font-size: 1.1rem;
  }
}
